@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --main-color: #ef4444;
  font-family: "Montserrat", sans-serif;
}
#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons {
  display: flex;
  padding: 14px;
}
.header button {
  font-size: 20px;
  width: 100px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;

  color: beige;
}
.header button:hover {
  transition: 0.5s;
  font-size: 20.5px;
  color: var(--main-color);
}

.header .active {
  color: var(--main-color);
}
.menuButton {
  border-radius: 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  font-size: 22px;
  width: 150px;
  padding: 8px;
}
.main {
  padding: 24px 40px 24px 40px;
  margin-top: 10px;
  max-width: 770px;
  position: absolute;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0369a1;
  width: 100vw;
  color: var(--main-color);
  padding: 10px;
}
.main h1 {
  color: var(--main-color);
  padding-bottom: 12px;
  border-bottom: 2px solid var(--main-color);
}
img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.main .home {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 100px;
}
.main .menu {
  height: 65vh;
  gap: 2vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.foods {
  padding-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.foods div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.menu .foods {
  display: grid;
  gap: 36px;
}
.foods img {
  height: 250px;
  width: 250px;
  border-radius: 8px;
}
.mainPara {
  margin-top: 10px;
  font-size: 20px;
}

.info {
  display: grid;
  font-weight: bold;
}

.location,
.clock {
  display: flex;
  gap: 12px;
  align-items: center;
}

svg {
  min-width: 32px;
  height: 32px;
}
